.Navegar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #5b5b5b;
}

.Logo img {
	height: 100px;
	cursor: pointer;
}

Ul {
	display: flex;
}

ul li {
	padding: 10px;
	list-style: none;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.ButtonHeader {
	background: none;
	border: none;
	font-size: 17px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.Menu {
		display: none;
	}
}
