.seravisado {
    margin-top: 4%;
    width: 14rem;
    height: 3rem;
    border: 3px solid #DAA540;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
  }
  
  .seravisado:hover {
    background: #DAA540;
    color: white;
    font-size: 1.1em;
    border: none;
  }