.carrosel{
    margin-top: 3rem;
    background-color: #5b5b5b;
    margin-bottom: 1.5%;
    height: 70%;
    display: flex;
    position: relative;
}

.Bar{
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 22rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 9% auto;
    width: 73%;
}


